body {
    background: radial-gradient(circle, rgba(63, 251, 176, 1) 9%, rgba(63, 251, 141, 1) 16%, rgba(72, 235, 244, 1) 35%, rgba(252, 70, 107, 1) 92%);
}

.login-input {
    background-color: rgb(72 235 244 / 68%);
    display: block;
    border-radius: 10px;
    border: 1px solid black;
    width: 200px;
}

.container {
    min-height: 100vh;
    margin: 0 auto;
    max-width: 800px;
}

.login {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    margin: 0 auto;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-field {
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-bottom: 20px;
}

.login-field label {
display: block;
width: 100px;
text-align: right;
padding-right: 10px;
}

.login-title {
    font-size: 40px;
    text-align: center;
    color: rgba(252, 70, 107, 1);
    text-shadow: 0 30px 30px rgb(72 235 244), 0 -7px 10px rgb(252 70 107), 0 1px 1px black, 0 -1px 1px black, 1px 0 1px black, -1px 0 1px black;
}

.login-new {
    text-align: center;
}

.input {
    min-width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 20px;
}

.input div {
    padding: 0 20px;
    text-align: right;
    width: 100px;
}

.login-button {
    display: flex;
    justify-content: center;
}

.login-authors {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

