<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset = UTF-8"/>
    <title>Getting started</title>
</head>
<body>
<div>Hello, user</div>
<a href="/main"></a>
</body>
</html>
