<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Getting started</title>
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
</head>
<body>
<div>Hello, user</div>
<a href="/main">Main page</a>
</body>
</html>