<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Spring Security Example</title>
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<header></header>

<body>
    <div class="container">
        <section class="login">
            <div class="login-title">
                <h1 style="color: #fc466b; text-shadow: 0 0 5px black">
                    Login page
                </h1>
            </div>
            <form class="login-form" action="/login" method="post">
                <div class="input"><label>User Name : </label><input type="text" name="username"></div>
                <div class="input"><label>Password : </label><input type="password" name="password"></div>
                <input type="hidden" name="_csrf" value="{{_csrf.token}}">
                <div style="text-align: center;"><input style="background-color: rgb(180, 159, 39)" type="submit"
                        value="Sign In"></div>
            </form>
            <br>
            <div class="login-new">
                <a href="/registration">Add new user</a>
            </div>

        </section>
    </div>
    <div class="login-authors">
        design by <strong>Shabunya Polina</strong>
    </div>
</body>
<footer></footer>

</html>